:root{

    --light-grey: #e5e5e5;

}

/* utility */

.debug{
    border: 1px solid red;
}

li{
    list-style: none;
    
}

.wrapper a{
    text-decoration: none;
}


/* container */


header{
    height: 80px;
}


.wrapper{
    margin-top: 80px;
    overflow-y: hidden;
    height: calc(100vh - 80px);

}

#side-bar{
    height: 100%;
    width: 70px;
    flex-shrink: 0;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    color: white;
}


main{
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;

}

.logo-mob{
    width: 55px;
}


.logo-full{
    display: none;
}


.logo-box{
    width: 20%;
    height: 100%;
}

.nav-opt{
    width: 20%;
    height: 100%;

}
.nav-opt-lg{

    font-size: 20px;
    color: var(--light-grey);
    display: none;
}



.search-bar{
    width: 100%;
    height: 40px;
    background-color: var(--light-grey);
    border-radius: 5px;
    margin: auto 0!important;
    
}

.nav-bar{
    height: 60px;
    width: 100%;
    background-color: white;
    
}

#main-content .card-body td img{
    width: 30px;
   }



.side-box{
    height: 100%;
}

.dropdown-toggle::after{
    display: none;
}

.offcan-width{
    width: 100vw!important;
}


#main-content table tr th:first-child,
#main-content table tr td:first-child{
    width: auto;
}




/* responsive */


@media screen and (min-width:768px){
    .offcan-width{
        width: 50vw!important;
    }

    #main-content table tr th:first-child,
    #main-content table tr td:first-child{
    width: 50%;
}
}

@media screen and (min-width:992px){

    .search-bar{
        max-width: calc(100% - 300px);
        height: 40px;
        background-color: var(--light-grey);
        border-radius: 5px;
        margin: auto 0!important;
        
    }




    #side-bar{
        width: 150px;
    }


    .logo-box{
        justify-content: flex-start!important;
        padding-left: 10px;
        max-width: 150px;
        
    }

    .logo-full{
        display: block;

    }

    .logo-mob{
        display: none;
    }

   
    

    .nav-opt-lg{

        font-size: 20px;
        color: var(--light-grey)!important;
        display: block;
        
       
    }

    .nav-opt{
        justify-content: flex-end;
        max-width: 150px;
    }
    
}


@media screen and (min-width:1200px){
    
    
    
    .nav-opt{
        justify-content: flex-end!important;
        padding-right: 10px;
        
    }

    
}


@media screen and (min-width:1400px){
    .logo-box{
        width: 15%;

       
    }


    .nav-opt{

        width: 15%;
    }
}
